<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/styles.css" rel="stylesheet" />
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <form action="" class="w-50 shado2 p-4 border" method="post">
        <div class="form-group d-flex flex-column my-3">
            <label for="email" class="h5">Email</label>
            <input type="text" id="email" name="email" class="form-control">
        </div>
        <div class="form-group d-flex flex-column my-3">
            <label for="phone" class="h5">Tel No</label>
            <input type="tel" id="phone" name="phone" class="form-control">
        </div>
        <div class="form-group d-flex flex-column my-3">
            <label for="pwd" class="h5">Password</label>
            <input type="password" id="pwd" name="password" class="form-control bg-light">
        </div>
        <div class="form-group d-flex flex-column my-3">
            <label for="conf_pwd" class="h5">Confirm Password</label>
            <input type="password" id="conf_pwd" name="confirm_password" class="form-control">
        </div>
        <div class="text-center d-flex flex-column my-3">
            <p class="bg-light">Sign in with Google</p>
            <p class="bg-light">Sign in with Facebook</p>
        </div>
        <button class="w-100 border-0 p-2">Login</button>
    </form>

    <script src="https://cdn.jsdel/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
</body>
</html>