<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button h1" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne">
          What Is Flare?
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show"
           aria-labelledby="headingOne"
           data-bs-parent="#mainAccordion">
        <div class="accordion-body">
          Flare Coin (FLR) is the native cryptocurrency of the Flare Network, a blockchain designed for decentralized data access and cross-chain interoperability — not just a “regular coin
        </div>
      </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed h1" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo">
          How to Get Flare ?
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse"
           aria-labelledby="headingTwo"
           data-bs-parent="#mainAccordion">
        <div class="accordion-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit at itaque repellat sint ipsam error similique cum iste, libero eius nobis rem earum culpa alias minima quisquam corrupti harum quis maxime. Ab perferendis doloribus suscipit similique. Deleniti corrupti vel omnis.
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed h1" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree">
          Why FLare ?
        </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse"
           aria-labelledby="headingThree"
           data-bs-parent="#mainAccordion">
        <div class="accordion-body">
        Flare isn’t just trying to be another smart contract blockchain 
        — it’s aiming to be a data-centric, interoperable foundation where: <br/>

        * Smart contracts can use trusted real-world data
        * More blockchains can participate in DeFi and decentralized apps
        * Developers build applications that interact across chains and ecosystems
        </div>
    </div>
</div>
